    <%- include('../partials/head', {title: 'Create'}) %>
    <link rel="stylesheet" href="/css/products-edit.css">
    <title>Crear Producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="producto-crear"> 
            <div class="producto-detail">
                <h3 class="titulo-register">
                    Agregar Producto
                </h3>
                <div class="info-register">
                    <form action="/product/create" method="post">
                        <span>Nombre del producto:</span> 
                        <br>
                        <input type="text" name= "nombre-producto" class="nombre-producto">
                        <br>
                        <span>Descripcion del producto:</span>
                        <br>
                        <input type="text" name= "descripcion" class="descripcion-producto"> 
                        <br>
                        <span>Marca: </span>
                        <br>
                        <input type="text" name="marca-producto" class="marca-producto">
                        <br>
                        <span>Modelo: </span>
                        <br>
                        <input type="text" name="modelo-producto" class="modelo-producto">                                                  
                        <br>
                        <div class="foto-producto">
                            <span>Ingrese la foto del producto: <input type="file"></span>
                        </div class="categoria">
                            <span>Seleccione la categoria del producto:</span>
                            <br>
                            <div class="div-radio">
                            <input type="checkbox" id="Motherboard" name="Motherboard" value="Motherboard">
                            <label for="Motherboard">Motherboard</label>
                            <br>
                            <input type="checkbox" id="Procesador" name="Procesador" value="Procesador">
                            <label for="Procesador">Procesador</label>
                            <br>
                            <input type="checkbox" id="GPU" name="GPU" value="GPU">
                            <label for="GPU">GPU</label>
                            <br>
                            <input type="checkbox" id="RAM" name="RAM" value="RAM">
                            <label for="RAM">RAM</label>
                            <br>
                            <span>Tipo de memoria:</span>
                            <select name="Memoria" id="Memoria">
                                <option value="SSD">SSD</option>
                                <option value="HDD">HDD</option>
                            </select>
                            <br>
                            <input type="checkbox" id="Fuente de alimentacion" name="Fuente de alimentacion" value="Fuente de alimentacion">
                            <label for="Fuente de alimentacion">Fuente de alimentacion</label>
                        </div>
                        <br>
                        <div class="precio">
                            <span>Precio del producto:</span>
                            <br>
                            <div class="moneda-precio">
                                <select name="moneda" id="moneda">
                                    <option value="BIT">BIT</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                                <input type="text" name="precio-producto" class="precio-producto">
                            </div> 
                        </div>
                        <div class="boton-agregar-div"> 
                            <button type="submit" class="boton-agregar">Agregar producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>