    <%- include('../partials/head', {title: 'Create'}) %>
    <link rel="stylesheet" href="/css/products-edit.css">
    <title>Crear Producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main> 
        <div class="producto-crear"> 
            <div class="producto-detail">
                <h3 class="titulo-register">
                    Agregar Producto
                </h3>
                <div class="info-register">
                    <form action="/products/create" method="POST">
                        <label for="">titulo</label>
                        <input type="text" name="titulo">
                        <label for="">tipo</label>
                        <input type="text" name="tipo">
                        <label for="">marca</label>
                        <input type="text" name="marca">
                        <label for="">modelo</label>
                        <input type="text" name="modelo">
                        <label for="">descripcion</label>
                        <input type="text" name="descripcion">
                        <label for="">moneda</label>
                        <input type="text" name="moneda">
                        <label for="">precio</label>
                        <input type="text" name="precio">
                        <input type="file">
                        <div class="boton-agregar-div"> 
                            <button type="submit" class="boton-agregar">Agregar producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>