<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <div class="barra-superior">
            <div class = "logo-busqueda">
                <div class="logo">
                    <img src="/img/techIconLogo.jpg" alt="logo">
                </div>
                <div class="busqueda">
                    <form action="/" method="GET">
                        <input type="text" placeholder="Buscar productos..." name="search">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
            </div>
            <nav class="login-register">
                <a href="/" class="link-logo"><i class="fas fa-user"></i></a>
                <a href="/login" class="login-options">login</a>
                <a href="/register" class="login-options">register</a>
                <a href="/productCart" class="link-logo"><i class="fas fa-shopping-cart"></i></a>
            </nav>
        </div>
        <nav class="barra-inferior">
            <a href="/" class="links">Home</a>
            <a href="productDetail" class="links">Detail</a>
            <a href="/" class="links">Vender</a>
            <a href="productDetail" class="links">Placeholder2</a>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <div class="modulo-izquierda"> 
                <table>
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>Producto</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                            <td>Subtotal</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="borrar-container"><span class="borrar-item">&times;</span></td>
                        <td><img src="/img/carrito/corei7.png"></td>
                        <td>Intel Core i7 8303K</td>
                        <td>$8.999</td>
                        <td>1</td>
                        <td>$8.999</td>
                    </tr>
                    
                    <tr>
                        <td class="borrar-container"><span class="borrar-item">&times;</span></td>
                        <td><img src="/img/carrito/gabinete.png"></td>
                        <td>Gabinete Gamer Ultra</td>
                        <td>$5.799</td>
                        <td>1</td>
                        <td>$5.799</td>
                    </tr>
                    
                    <tr>
                        <td class="borrar-container"><span class="borrar-item">&times;</span></td>
                        <td><img src="/img/carrito/teclado.png"></td>
                        <td>Teclado y Mouse Gamer</td>
                        <td>$2.899</td>
                        <td>1</td>
                        <td>$2899</td>
                    </tr>

                </table>
            </div>
                
            <div class="modulo-derecha">
                <div class="contenedor-total">
                    <h3>Total del Carrito</h3>
                    <ul>
                        <li>
                            <strong>Subtotal</strong>
                            <span>$17.697,00</span>
                        </li>
                        <li>
                            <strong>Envio</strong>
                            <span>$500,00</span>
                        </li>
                        <li>
                            <strong>Total a pagar</strong>
                            <span>$18.197,00</span>
                        </li>
                    </ul>
                    <a href="#" class="button button-primario">Finalizar Compra</a> 
                </div>
            </div>

        </div>
    </main>
    <footer>
        <p>&copy; 2021 Hardware. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>