<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Producto</title>
</head>
<body>
    <header>
        <div class="barra-superior">
            <div class="logo">
                <img src="" alt="logo">
            </div>
            <div class="busqueda">
                <form action="/">
                    <!--
                    <select name="categ-dropdown" id="categ-dropdown">
                        <option value="">Motherboards</option>
                        <option value="">CPUs</option>
                        <option value="">GPUs</option>
                    </select>
                    -->
                    <input type="text" placeholder="Buscar productos..." name="busqueda">
                    <button type="submit" name="busqueda">Buscar</button>
                </form>
            </div>
            <nav class="login-register">
                <a href="#" class="links">login</a>
                <a href="#" class="links">register</a>
            </nav>
        </div>
        <nav class="barra-inferior">
            <a href="home.html" class="links">home</a>
            <a href="productDetail.html" class="links">detail</a>
            <a href="productCart.html" class="links">carrito</a>
            <a href="productDetail.html" class="links">detail</a>
        </nav>
    </header>
    <main>
        <div class="productDetail">
            <div class="detail-img">
                <img src="/img/motherboard.jpg" alt="motherboard">
            </div>        
            <div class="detail-datos">
                <h3 class="titulo">
                    Motherboard ASUS Prime Z590-A
                </h3>
                <div class="descripcion">
                    <ul>
                        <li>Socket Intel® LGA 1200: Listo para procesadores Intel® Core™ de ​​10a y 11a generación.</li>
                        <li>Solución de potencia mejorada: 14 + 2 fases de poder DrMOS, PCB de seis capas, puertos ProCool, chokes de aleación y condensadores duraderos para una entrega de potencia estable.</li>
                        <li>AI Overclocking: Optimiza el rendimiento de la CPU en función del disipador logrando resultados que se acercan mucho al ajuste manual realizado por expertos.</li>
                        <li>AI Cooling: Administra y controla todos los ventiladores de la tarjeta madre, optimizando automáticamente la configuración según la carga y la temperatura actual del sistema.</li>
                        <li>Cancelación de ruido IA de dos vías: Reduce el ruido de fondo del micrófono y la salida de audio para una comunicación nítida en juegos o videoconferencias.</li>
                        <li>Refrigeración completa: Gran disipador de VRM, disipador de M.2, puertos de ventilador híbridos y Fan Xpert 4.</li>
                        <li>Conectividad de próxima generación: PCIe® 4.0, Intel® 2.5 Gb Ethernet, USB 3.2 Gen 2x2 Type-C®, USB 3.2 Gen 1 Type-C® en panel frontal, soporte Thunderbolt ™ 4.</li>
                    </ul>
                </div>
                <div class="precio">
                    $20.000
                </div>
                <div class="descuento">
                    -- Extras o descuento --
                </div>
                <form action="/" class="cantidad">
                    <label for="cantidad-productos">Cantidad: </label>
                    <select name="cantidad-productos" id="cantidad-productos">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="boton">
                        <button type="submit">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>