/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  Resetea los estilos para que en todos los navegadores tenga el mismo formato de contenido y se vea por igual en ellos.
*/

:root {
    --color-azulOscuro: #0f2744;
    --color-azul: #2d4e6a;
    --color-azulGris: #94a2af;
    --color-gris: #e7e8e9;
    --color-blanco: #f3f3f3;
}

body {
	line-height: 1;
    font-family: sans-serif;
    margin: 0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** ESTILOS GENERALES ***/ 
header {
    background-color: #0f2744;
    color: #fff;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding: 20px;
}

main {
    background-color: var(--color-gris);
    display: block;
    position: relative;
    padding: 0 0 30px;
    width: 100%;
}

.header-seccion {
    background-color: #2d4e6a;
    color: #fff;
}

.header-seccion h2 {
    padding: 20px;
    font-size: 24px;
}

footer {
    background-color: #0f2744;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

/*** ESTILOS CARRITO COMPRAS ***/

.main-content {
    display: flex;
    flex-direction: row;
    width: 88%;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
}

.modulo-izquierda {
    width: 70%;
    flex: 70%;
}

table { width: 100%;}
table thead { font-weight: bold; font-size: 16px; }
table td .borrar-item { color: darkred; }
table td { vertical-align: top; }
table td.borrar-container { vertical-align: middle; }
table td img {
    max-width: 150px;
}
table td {
    padding: 4px;
}
table tr {
    border-bottom: 1px solid #ccc;
}

.modulo-derecha {
    width: 30%;
    flex: 30%;
    border-left: 1px solid #aaa;
    margin-left: 16px;
    padding-left: 16px;
}

.contenedor-total h3 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 12px;
    font-weight: bold;
}

.contenedor-total li {
    border-bottom: 1px solid #ccc;
    padding: 6px;
    margin-bottom: 8px;
    height: 22px;
    line-height: 10px;
    clear: both;

}

.contenedor-total li strong {
    float: left;
    font-weight: bold;
}

.contenedor-total li span {
    float: right; 
    color: #555; 
}



.contenedor-total ul li:last-child {
    font-size: 16px;
}

.modulo-derecha .button-primario {
    display: block;
    padding: 12px;
    background-color: #3483fa;
    border: 1px solid #3483fa;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #fff;
    align-self: flex-end;
}

@media screen and (max-width:830px) {
  main {
      padding: 0;
  }
  .main-content {
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .header-seccion h2 { font-size: 20px; }
  .main-content .modulo-derecha,
  .main-content .modulo-izquierda {
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid #aaa;
  }
  table {
      font-size: 13px;
  }
  table thead {
      font-size: 14px;
  }

  table td img {
      max-width: 50px;
  }
  .modulo-derecha .button-primario {
      font-size: 16px;
      margin: 20px 10px;
  }
}

header {
    background: var(--color-azulOscuro);
}
/*La barra superior contiene:
logo-busqueda:Logo + Barra de búsqueda
login-register: Usuario + login + register + carrito
 */
    .barra-superior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
        .logo-busqueda {
            width: 50%;
            display:flex;
        }
            .logo img{
                width: 4rem;
                padding-right: 1rem;
            }
            .busqueda {
                display: flex;
                align-items: center;
            }
                .busqueda form {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                    .busqueda input {
                            border-top: 1px solid rgb(207, 206, 206);
                            border-left: 1px solid rgb(207, 206, 206);
                            border-bottom: 1px solid rgb(207, 206, 206);
                            border-right: none;
                            border-radius: 8px 0 0 8px;
                            padding: 0.6px;
                            width: 100%;
                            outline: none;
                    }
                    .busqueda i {
                        border-top: 1px solid rgb(207, 206, 206);
                        border-right: 1px solid rgb(207, 206, 206);
                        border-bottom: 1px solid rgb(207, 206, 206);
                        border-left: none;
                        border-radius: 0 8px 8px 0;
                        padding: 0.6rem;
                        background-color: white;
                        color: rgb(177, 174, 174);
                    }
        .login-register {
            display: flex;
            width: 30%;
            align-items: flex-end;
            justify-content: space-evenly;
            color: white;
        }
            .login-options {
                background-color: var(--color-azulGris);
                border: 1px black;
                text-decoration: none;
                color: white;
                padding: 0.5rem 0.8rem;
                border-radius: 0.5rem;
                transition: all 100ms;
            }
            .login-options:hover {
                background-color: var(--color-gris);
                color: black;
            }

            .login-register i {
                font-size: 2rem;
                transition: all 100ms;
                text-decoration: none;
                color: white;
            }
            .login-register i:hover {
                color: var(--color-gris);
            }
    .barra-inferior {
        display: flex;
        background-color: var(--color-azul);
        padding: 0.5rem;
        justify-content: space-evenly;
    }
        .barra-inferior a{
            text-decoration: none;
            color: white;
            width: 10%;
            height: 100%;
            text-align: center;
        }

        footer {
            display: flex;
            flex-direction: column;
            background-color: var(--color-azul);
            color: white;
            margin-top: 5px;
        }
            .promociones-footer {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin: auto;
            }
                .footer-note {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 25%;
                }
        
                    .footer-note-text {
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                    }
        
                        .footer-note-text p {
                            margin: 0;
                        }
        
                    .footer-note i {
                        color: var(--color-celeste);
                        font-size: 2em;
                    }
                    .titular-footer {
                        margin: 0;
                        font-size: 1.5rem;
                        color: grey;
                    }
        
                    .copyright {
                        display: flex;
                        justify-content: center;
                    }
        
                    .copyright p{
                        color: var(--color-azulGris);
                    }
        