@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-azulOscuro: #0f2744;
  --color-azul: #2d4e6a;
  --color-azulGris: #94a2af;
  --color-gris: #e7e8e9;
  --color-grisOscuro: #c0c0c0;
  --color-blanco: #fff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/*--------------- Inicio de la sección del header ---------------*/
header {
    background: var(--color-azulOscuro);
    height: 7rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 30px;
}

.barra-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

    /*
    La barra superior contiene:
        logo-busqueda:Logo + Barra de búsqueda
        login-register: Usuario + login + register + carrito
    */

    .logo-busqueda {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
        .logo {
            width: 5rem;
            padding: 0.3rem;
            display: flex;
            align-items: center;
        }
        .logo img {
            width: 100%;
        }
        .busqueda {
            display: flex;
            width: 50%;
            margin-right: 20%;
        }
            .busqueda-form {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                height: 90%;
                padding: 0.6rem 0;
            }
                .barra-busqueda {
                    background-color: var(--color-azulGris);
                    border: none;
                    border-radius: 8px 0 0 8px;
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    outline: none;
                }
                    .busqueda ::placeholder {
                        color: var(--color-gris);
                        padding-right: 0.5rem;
                        font-weight: bold;
                    }
                .busqueda button {
                    padding: 0;
                    border: none;
                    border-radius: 0 10px 10px 0;
                    display: flex;  
                    align-items: center;
                }
                .busqueda i {
                    background-color: var(--color-azul);
                    border-radius: 0 8px 8px 0;
                    padding: 0.6rem;
                    color: var(--color-gris);
                    height: 100%;
                    display: flex;  
                    align-items: center;
                }               
    .login-register {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
            .login-options {
                text-decoration: none;
                color: var(--color-gris);
                padding: 0.5rem 0.8rem;
                border-radius: 0.5rem;
                transition: all 100ms;
                font-weight: bold;
            }
            .login-options:hover {
                background-color: var(--color-gris);
                color: black;
            }

            .login-register i {
                font-size: 2rem;
                transition: all 100ms;
                text-decoration: none;
                
            }
            .login-register i:hover {
                color: var(--color-azulGris);
            }
            .link-cart i{
                color: var(--color-gris)
            }
            .botones-login-register {
                display: flex;
                padding: 0;
                color: var(--color-grisOscuro);
            }
            .botones-login-register a :hover{
                background-color: var(--color-azul);
            }
            .link-user {
                width: fit-content;
                margin-right: 0.5rem;
                display: flex;
                color: var(--color-azulGris);
            }
.barra-inferior {
    background-color: var(--color-azulGris);
    display: flex;
    justify-content: center;
    width: 100%;
}
    .links {
        display: flex;
        justify-content: center;
    }

    /*---------------------------------nav---------------------------------------*/

    /*--------------------------------fin_nav--------------------------------------*/
/*--------------- Hasta acá llega la sección del header ---------------*/
/*--------------- Inicio de la sección del main ---------------*/
main {
    /*height: 50rem;*/
    background: var(--color-gris);
    display: flex;
    justify-content: center;
}
/*--------------- Hasta acá llega la sección del main ---------------*/
/*--------------- Inicio de la sección del footer ---------------*/
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-azul);
    color: white;
}


.promociones-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 30px;
}
    .footer-note {
        width: 20%; 
        height: fit-content;
    }
/*
        .footer-note-text {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;  
        }
        .footer-note-text p {
            margin: 0;
        }
        .footer-note i {
            color: var(--color-celeste);
            font-size: 2em;
        }
        .titular-footer {
            margin: 0;
            font-size: 1.5rem;
            color: grey;
        }
*/
        .footer-titulo {
            color: var(--color-gris);
            font-size: large;
            display: flex;
            justify-content: center;
        }
        .footer-lista {
            list-style: circle inside;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            .footer-lista-li {
                font-size: medium;
                margin-bottom: 0.4rem;
                display: flex;
                justify-content: center;
            }
            .footer-lista-a {
                text-decoration: none;
                color: var(--color-grisOscuro);
                font-size: medium;
            }
            .footer-lista-a:hover {
                text-decoration: underline;
            }
.copyright {
    display: flex;
    justify-content: center;
}
.copyright p {
    color: var(--color-azulGris);
}
.pb-6 {
    padding-bottom: 40px !important;
    flex-wrap: wrap;
    }
/*--------------- Hasta acá llega la sección del footer ---------------*/

@media (max-width: 400px) {
    .promociones-footer {
        flex-direction: row;
    }
}