* {
    box-sizing: border-box;
}

:root {
    --color-azulOscuro: #0f2744;
    --color-azul: #2d4e6a;
    --color-azulGris: #7a8c9c;
    --color-gris: #d7d9db;
    --color-blanco: #f3f3f3;
}
/*--------------- Inicio de la sección del header ---------------*/
header {
    background: var(--color-azulOscuro);
}
/*La barra superior contiene:
logo-busqueda:Logo + Barra de búsqueda
login-register: Usuario + login + register + carrito
 */
    .barra-superior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
        .logo-busqueda {
            width: 50%;
            display:flex;
        }
            .logo img{
                width: 4rem;
                padding-right: 1rem;
            }
            .busqueda {
                display: flex;
                align-items: center;
            }
                .busqueda form {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                    .busqueda input {
                            border-top: 1px solid rgb(207, 206, 206);
                            border-left: 1px solid rgb(207, 206, 206);
                            border-bottom: 1px solid rgb(207, 206, 206);
                            border-right: none;
                            border-radius: 8px 0 0 8px;
                            padding: 0.6px;
                            width: 100%;
                            outline: none;
                    }
                    .busqueda i {
                        border-top: 1px solid rgb(207, 206, 206);
                        border-right: 1px solid rgb(207, 206, 206);
                        border-bottom: 1px solid rgb(207, 206, 206);
                        border-left: none;
                        border-radius: 0 8px 8px 0;
                        padding: 0.6rem;
                        background-color: white;
                        color: rgb(177, 174, 174);
                    }
        .login-register {
            display: flex;
            width: 30%;
            align-items: flex-end;
            justify-content: space-evenly;
            color: white;
        }
            .login-options {
                background-color: var(--color-azulGris);
                border: 1px black;
                text-decoration: none;
                color: white;
                padding: 0.5rem 0.8rem;
                border-radius: 0.5rem;
                transition: all 100ms;
            }
            .login-options:hover {
                background-color: var(--color-gris);
                color: black;
            }

            .login-register i {
                font-size: 2rem;
                transition: all 100ms;
                text-decoration: none;
                color: white;
            }
            .login-register i:hover {
                color: var(--color-gris);
            }
    .barra-inferior {
        display: flex;
        background-color: var(--color-azul);
        padding: 0.5rem;
        justify-content: space-evenly;
    }
        .barra-inferior a{
            text-decoration: none;
            color: white;
            width: 10%;
            height: 100%;
            text-align: center;
        }
/*--------------- Hasta acá llega la sección del header ---------------*/

/*Sección del banner. Por ahora hay un placeholder de mercadoliebre*/
.home-banner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
}
    .home-banner img {
        width:90%;
    }
/*Fin de sección del banner*/

.seccion-ofertas {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
    .seccion-ofertas h3 {
        color: var(--color-azulGris);
        font-size: 1.5rem;
    }
    .contenedor-ofertas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
    }
        .cuadro-oferta {
            border: solid black 1px;
            width: 18.75rem;
            background-color: var(--color-gris);
        }
            .cuadro-oferta img {
                width: 100%;
            }
            .cuadro-oferta-texto {
                position: relative;
                background-color: white;
                padding-top: 1px;
                padding-bottom: 1px;

            }
            .cuadro-oferta-texto i {
                /*logo de agregar al carrito*/
                position:absolute;
                padding: 0.4rem;
                font-size: 1.3rem;
                background-color: white;
                top: -1.5rem;
                right: 1rem;
                border: var(--color-azulOscuro) 1px solid;
                color: var(--color-azulOscuro);
                border-radius: 50%;
            }
                .precio-descuento {
                    display: flex;
                    text-align: start;
                }
                    .precio {
                        width: 30%;
                        padding-left: 5%;
                    }
                    .descuento {
                        width: 70%;
                        color:rgb(60, 255, 0);
                    }
                .nombre-producto {
                    padding-left: 5%;
                }
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-azul);
    color: white;
    margin-top: 5px;
}
    .promociones-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }
        .footer-note {
            display: flex;
            flex-direction: column;
            text-align: center;
            }
            .footer-note i {
                color: var(--color-celeste);
                font-size: 2em;
            }
            .titular-footer {
                font-size: 1.5rem;
                color: grey;
            }

    
