/* SOLO PARA EL USER LOGEADO */
.errores {
    color: red;
    margin-top: 2px;
    margin-bottom: 5px;
}
.producto-crear {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}
    .producto-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        margin-bottom: 1rem;
    }
        .titulo-register {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid var(--color-gris);
        }
        .info-register {
            margin:0 1rem;
        }
            .input-producto {
                width:90%;
                display: flex;
                justify-content:center;
                flex-direction:column;
                line-height: 1; 
                align-items: center;
                
                border: 1px solid lightslategray;
                border-radius: 5px;   
                text-indent: 0.3rem;
                margin-top: 0.2rem;
                margin-bottom: 0.5rem;
            }
            .caja {
                margin-top: 0.2rem;
                margin-bottom: 0.5rem;
            }
            .div-radio {
                margin-top: 0;
                margin-left: 1rem;
            }
            .moneda-precio {
                margin-top: 0.5rem;
            }
            .precio-producto {
                border: none;
                border-bottom: 1px solid var(--color-azulGris);
                width: 80%;
                margin-bottom: 1rem;
            }
            .boton-agregar-div {
                display: flex;
                justify-content: center;
            }
                .boton-agregar {
                    color: white;
                    background: #3483fa;   
                    border: 2px solid #3483fa;
                    border-radius: 5px;
                    box-shadow: 1px 1px #3483fa;
                    font-family: sans-serif;
                    font-size: 20px;
                    text-align: center;    
                    font-weight: bold;
                }