/*
    FONT-FAMILY, FONT-SIZE 
*/
* {
    box-sizing: border-box;
}


body {
    margin: 0;
}


main {
    /* height: 50rem; --> Le saca flexibilidad al form. Si agregamos cosas lo hace pisar el footer*/
    background: var(--color-gris);
    /* Estas dos líneas no cambian nada, y solo tenemos un form que ya declaramos como flex
    display: flex;
    justify-content: center; */
}

main h1 {
    background: var(--color-azul);
}

        /* ESTILO DEL REGISTER  */

        .register {
            /* height: fit-content; */
            width: 50rem;
            background: rgb(255, 255, 255);
            margin: 2% 0 ;
            border: 2px solid var(--color-gris);
            border-radius: 10px;
            display:flex;
            justify-content: center;
            margin: 3rem;
            padding: 0% 3% 3% 3%;
            font-size: 25px;
            font-family: sans-serif;
            
        }
        /* Div entre el register y el formulario
         Tiene dos secciones
            Titulo
            Formulario
         */
        .detail-register {
            width:90%;
            }

            /* Título arriba del form */
            .titulo-register {
                font-size: 45px;
                font-family: sans-serif;
            }
            
                /* config de los input del formulario */
                .info-register form input {
                    /* width: 40rem; */
                    width:100%;
                    display: flex;
                    justify-content:center;
                    flex-direction:column;
                    font-family: sans-serif; 
                    line-height: 1; 
                    align-items: center;
                    height: 4rem;
                    border: 1px solid lightslategray;
                    border-radius: 5px;   
                }
                    /* Selección de género */
                    .radio-options {
                        width:100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                    }

                    .radio-options input {
                        height: 2rem;
                    }
                    /* Config del botón de Registrar al final del formulario */
                    .info-register form .button-register input {
                            width: 100%;
                            color: white;
                            background: #3483fa;   
                            border: 2px solid #3483fa;
                            border-radius: 5px;
                            box-shadow: 1px 1px #3483fa;
                            font-family: sans-serif;
                            text-align: center;    
                            font-weight: bold;
                            font-size: 25px;
                            
                    }

       



@media (min-width: 576px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media (min-width: 768px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media (min-width: 992px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media (min-width: 1200px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}