/*
    FONT-FAMILY, FONT-SIZE 
*/
* {
    box-sizing: border-box;
}

:root {
    --color-azulOscuro: #0f2744;
    --color-azul: #2d4e6a;
    --color-azulGris: #7a8c9c;
    --color-gris: #d7d9db;
    --color-blanco: #f3f3f3;
}

body {
    margin: 0;
}

/*--------------- Inicio de la sección del header ---------------*/
header {
    background: var(--color-azulOscuro);
}
/*La barra superior contiene:
logo-busqueda:Logo + Barra de búsqueda
login-register: Usuario + login + register + carrito
 */
    .barra-superior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
        .logo-busqueda {
            width: 50%;
            display:flex;
        }
            .logo img{
                width: 5rem;
                padding-right: 2rem;
            }
            .busqueda {
                display: flex;
                align-items: center;
            }
                .busqueda form {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                    .busqueda input {
                            border-top: 1px solid rgb(207, 206, 206);
                            border-left: 1px solid rgb(207, 206, 206);
                            border-bottom: 1px solid rgb(207, 206, 206);
                            border-right: none;
                            border-radius: 8px 0 0 8px;
                            padding: 0.6px;
                            width: 100%;
                            outline: none;
                    }
                    .busqueda i {
                        border-top: 1px solid rgb(207, 206, 206);
                        border-right: 1px solid rgb(207, 206, 206);
                        border-bottom: 1px solid rgb(207, 206, 206);
                        border-left: none;
                        border-radius: 0 8px 8px 0;
                        padding: 0.6rem;
                        background-color: white;
                        color: rgb(177, 174, 174);
                    }
        .login-register {
            display: flex;
            width: 30%;
            align-items: flex-end;
            justify-content: space-evenly;
            color: white;
        }
            .login-options {
                background-color: var(--color-azulGris);
                border: 1px black;
                text-decoration: none;
                color: white;
                padding: 0.5rem 0.8rem;
                border-radius: 0.5rem;
                transition: all 100ms;
            }
            .login-options:hover {
                background-color: var(--color-gris);
                color: black;
            }

            .login-register i {
                font-size: 2rem;
                transition: all 100ms;
                text-decoration: none;
                color: white;
            }
            .login-register i:hover {
                color: var(--color-gris);
            }
    .barra-inferior {
        display: flex;
        background-color: var(--color-azul);
        padding: 0.5rem;
        justify-content: space-evenly;
    }
        .barra-inferior a{
            text-decoration: none;
            color: white;
            width: 10%;
            height: 100%;
            text-align: center;
        }

/*--------------- Hasta acá llega la sección del header ---------------*/
   

.home-banner {
        width: 100%;
    }
        .home-banner img {
            width: 100%;
            padding-top: 2rem;
        }

.titulo-ofertas {
    text-align: left;
    margin-left: 20px;
}
.contenedor-ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

main {
    height: 50rem;
    background: var(--color-gris);
    display: flex;
    justify-content: center;
}

main h1 {
    background: var(--color-azul);
}

    .productDetail {
        width: fit-content;
        border-radius: 5px;
        background: rgb(255, 255, 255);
        margin-top: 1rem;
        margin-bottom: 5rem;
        padding: 1rem;
    }
    

        .detail-datos {
            height: fit-content;
            width: 40rem;
            background: rgb(255, 255, 255);
            margin: 2% 0 ;
            border: 1px solid var(--color-gris);
            border-radius: 10px;

        }

        /* ESTILO DEL lOGIN  */

        .login {
            height: fit-content;
            width: 35rem;
            background: rgb(255, 255, 255);
            margin: 2% 0 ;
            border: 1px solid var(--color-gris);
            border-radius: 10px;
            display:flex;
            justify-content: center;
            margin: 5rem;
            

        }
        
        .info-usuario form {
            height:auto;
            width: 20rem;
            display: flex;
            justify-content: center;
            flex-direction:column;
            font-family: Roboto; 
            line-height: 1;
            
        }

        .bottom {
            width: 20rem;
            padding: 20px 20px 20px 0px;
            
        }

        .opcioncontra {
            width: 15rem;
            padding: 30px 0px 20px 70px;
            
        }

        /* ESTILO DEL REGISTER  */

        .register {
            height: fit-content;
            width: 35rem;
            background: rgb(255, 255, 255);
            margin: 2% 0 ;
            border: 2px solid var(--color-gris);
            border-radius: 10px;
            display:flex;
            justify-content: center;
            margin: 5rem;
            padding: 0% 3% 3% 3%;

        
            
        }
        .titulo-register {
            font-size: 30px;
            font-family: sans-serif;
        }

        
        .info-register form input{
            height: 50px;
            width: 25rem;
            display: flex;
            justify-content:center;
            flex-direction:column;
            font-family: sans-serif; 
            line-height: 1; 
            align-items: center;
        }
        
        .info-register form .buttom-register input {
                width: 25rem;
                color: white;
                background: #3483fa;   
                border: 2px solid #3483fa;
                border-radius: 5px;
                box-shadow: 1px 1px #3483fa;
                font-family: sans-serif;
                font-size: 20px;
                text-align: center;    
                font-weight: bold;
                
        }

        
    /* ESTILO DEL FOOTER  */

    footer {
        display: flex;
        flex-direction: column;
        background-color: var(--color-azul);
        color: white;
        margin-top: 0;
    }
        .promociones-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: auto;
        }
        .footer-note {
            display: flex;
            flex-direction: column;
            text-align: center;
         }
        .footer-note i {
            color: var(--color-celeste);
            font-size: 2em;
         }
        .titular-footer {
            font-size: 1.5rem;
            color: grey;
        }
       



@media (min-width: 576px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media (min-width: 768px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media (min-width: 992px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}


@media (min-width: 1200px){
    .register {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}