
* {
    box-sizing: border-box;
}

:root {
    --color-azulOscuro: #0f2744;
    --color-azul: #2d4e6a;
    --color-azulGris: #94a2af;
    --color-gris: #e7e8e9;
    --color-blanco: #f3f3f3;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background: var(--color-azulOscuro);
}
/*La barra superior contiene:
logo-busqueda:Logo + Barra de búsqueda
login-register: Usuario + login + register + carrito
 */
    .barra-superior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
        .logo-busqueda {
            width: 50%;
            display:flex;
        }
            .logo img{
                width: 4rem;
                padding-right: 1rem;
            }
            .busqueda {
                display: flex;
                align-items: center;
            }
                .busqueda form {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                    .busqueda input {
                            border-top: 1px solid rgb(207, 206, 206);
                            border-left: 1px solid rgb(207, 206, 206);
                            border-bottom: 1px solid rgb(207, 206, 206);
                            border-right: none;
                            border-radius: 8px 0 0 8px;
                            padding: 0.6px;
                            width: 100%;
                            outline: none;
                    }
                    .busqueda i {
                        border-top: 1px solid rgb(207, 206, 206);
                        border-right: 1px solid rgb(207, 206, 206);
                        border-bottom: 1px solid rgb(207, 206, 206);
                        border-left: none;
                        border-radius: 0 8px 8px 0;
                        padding: 0.6rem;
                        background-color: white;
                        color: rgb(177, 174, 174);
                    }
        .login-register {
            display: flex;
            width: 30%;
            align-items: flex-end;
            justify-content: space-evenly;
            color: white;
        }
            .login-options {
                background-color: var(--color-azulGris);
                border: 1px black;
                text-decoration: none;
                color: white;
                padding: 0.5rem 0.8rem;
                border-radius: 0.5rem;
                transition: all 100ms;
            }
            .login-options:hover {
                background-color: var(--color-gris);
                color: black;
            }

            .login-register i {
                font-size: 2rem;
                transition: all 100ms;
                text-decoration: none;
                color: white;
            }
            .login-register i:hover {
                color: var(--color-gris);
            }
    .barra-inferior {
        display: flex;
        background-color: var(--color-azul);
        padding: 0.5rem;
        justify-content: space-evenly;
    }
        .barra-inferior a{
            text-decoration: none;
            color: white;
            width: 10%;
            height: 100%;
            text-align: center;
        }

    .home-banner {
        width: 100%;
    }
        .home-banner img {
            width: 100%;
            padding-top: 2rem;
        }

.titulo-ofertas {
    text-align: left;
    margin-left: 20px;
}
.contenedor-ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

    .cuadro-oferta {
        position:relative;
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        background-color: var(--color-gris);
    }
    .cuadro-oferta-imagenes {
        position: relative;
        text-align: justify;
    }
        .cuadro-oferta-imagenes img {
            width: 300px;
        }
        .cuadro-oferta-imagenes i {
            position: absolute;
        }
        .cuadro-oferta-texto i {
            position:absolute;
        }
        
main {
    height: 50rem;
    background: var(--color-gris);
    display: flex;
    justify-content: center;
}

main h1 {
    background: var(--color-azul);
}

    .productDetail {
        width: fit-content;
        border-radius: 5px;
        background: rgb(255, 255, 255);
        margin-top: 1rem;
        margin-bottom: 5rem;
        padding: 1rem;
    }

        .detail-img img{
            margin: 1rem 2rem;
            border-bottom: 1px solid var(--color-gris);
        }

        .detail-datos {
            height: fit-content;
            width: 40rem;
            background: rgb(255, 255, 255);
            margin: 2% 0 ;
            border: 1px solid var(--color-gris);
            border-radius: 10px;
        }

            .detail-datos .titulo {
                padding: 10px;
                margin: 10px;
            }

            .detail-datos .descripcion {
                padding: 3px;
                margin: 10px;
            }

            .detail-datos .descripcion ul {
                margin: 3px 5px;
                padding: 0 0 0 25px;
                color: var(--color-azulGris);
            }

            .detail-datos .precio {
                padding: 10px;
                margin: 10px;
            }

            .detail-datos .descuento {
                padding: 10px;
                margin: 10px;
            }

            .detail-datos .cantidad {
                padding: 5px;
                margin: 10px;
            }

            .detail-datos .boton {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                margin: 10px;
            }
                
                .detail-datos .boton button {
                    background: #3483fa;
                    height: 35px;
                    width: 130px;     
                    border: 2px solid #3483fa;
                    border-radius: 5px;
                    box-shadow: 1px 1px #2359aa;
                    color: #fff;
                    font-weight: bold;
                }

                    .detail-datos .boton button:hover {
                        background: #3483fa;;   
                        border: 2px solid #3483fa;
                        box-shadow: 1px 1px #2359aa;
                    }

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-azul);
    color: white;
    margin-top: 5px;
}
    .promociones-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }
        .footer-note {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 25%;
        }

            .footer-note-text {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
            }

                .footer-note-text p {
                    margin: 0;
                }

            .footer-note i {
                color: var(--color-celeste);
                font-size: 2em;
            }
            .titular-footer {
                margin: 0;
                font-size: 1.5rem;
                color: grey;
            }

            .copyright {
                display: flex;
                justify-content: center;
            }

            .copyright p{
                color: var(--color-azulGris);
            }


@media (min-width: 768px){
    .productDetail {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}
