
<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    
    <title>Home</title>
</head>
<body>
    <%- include('./partials/header') %>


    <div class = "home-banner">
        <img src="/img/banner.jpg" alt="home-banner">
    </div>
    <div class="seccion-ofertas">
        <div>
            <h3 class = "titulo-ofertas">Basado en tus intereses</h3>
        </div>
        <section class = "contenedor-ofertas">
            <article class = "cuadro-oferta">
                <div class = "cuadro-oferta-imagenes">
                    <img src="/img/productos/motherboard.jpg" alt="motherboard">
                </div>
                <div class = "cuadro-oferta-texto">
                    <i class="fas fa-cart-plus"></i>
                    <div class="precio-descuento">
                        <p class = "precio">$20.000</p>
                        <p class = "descuento">10% OFF</p>
                    </div>
                    <p class="nombre-producto">Nombre de Producto</p>
                </div>
            </article>
            <article class = "cuadro-oferta">
                <div class = "cuadro-oferta-imagenes">
                    <img src="/img/productos/gabinete.png" alt="gabinete">
                </div>
                <div class = "cuadro-oferta-texto">
                    <i class="fas fa-cart-plus"></i>
                    <div class="precio-descuento">
                        <p class = "precio">$20.000</p>
                        <p class = "descuento">10% OFF</p>
                    </div>
                    <p class="nombre-producto">Nombre de Producto</p>
                </div>
            </article>
            <article class = "cuadro-oferta">
                <div class = "cuadro-oferta-imagenes">
                    <img src="/img/productos/corei7.png" alt="procesador-i7">
                </div>
                <div class = "cuadro-oferta-texto">
                    <i class="fas fa-cart-plus"></i>
                    <div class="precio-descuento">
                        <p class = "precio">$20.000</p>
                        <p class = "descuento">10% OFF</p>
                    </div>
                    <p class="nombre-producto">Nombre de Producto</p>
                </div>
            </article>
            <article class = "cuadro-oferta">
                <div class = "cuadro-oferta-imagenes">
                    <img src="/img/productos/teclado.png" alt="teclado">
                </div>
                <div class = "cuadro-oferta-texto">
                    <i class="fas fa-cart-plus"></i>
                    <div class="precio-descuento">
                        <p class = "precio">$20.000</p>
                        <p class = "descuento">10% OFF</p>
                    </div>
                    <p class="nombre-producto">Nombre de Producto</p>
                </div>
            </article>
        </section>
    </div>
</body>
<%- include('./partials/footer') %>
</html>