<footer>

    <div class="promociones-footer">
        <!--------Sección de acerca de-------->
        <section class = "footer-note">
            <!--  <i class="fas fa-credit-card"></i>
            <div class="footer-note-text">
                <h3 class ="titular-footer">Pagá con tarjeta o en efectivo</h3>
                <p>En todos los productos, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div> -->
            <h3 class="footer-titulo">ACERCA DE</h3>
            <ul class="footer-lista">    
                <li class="footer-lista-li"><a href="https://discord.gg/U9qbgqRMSd" class="footer-lista-a" target="_blank">Contactenos</a></li>
                <li class="footer-lista-li"><a href="https://github.com/LuisMalpeli/grupo_7_DigitalMarket" class="footer-lista-a" target="_blank">Git Hub</a></li>
            </ul>
        </section>
       <!-------- Sección Secciones-------->
        <section class = "footer-note">
            <!-- <i class="fas fa-gift"></i>
            <div class="footer-note-text">
                <h3 class ="titular-footer">Envío gratis desde $ 25.000</h3>
                <p>Con compras mayores al monto indicado, no te tenés que preocupar por nada. Nosotros nos hacemos cargo del envío a tu domicilio</p>
            </div> -->
            <h3 class="footer-titulo">SECCIONES</h3>
            <ul class="footer-lista">    
                <li class="footer-lista-li"><a href="/" class="footer-lista-a">Home</a></li>
                <li class="footer-lista-li"><a href="/user/login" class="footer-lista-a">Login</a></li>
                <li class="footer-lista-li"><a href="/user/register" class="footer-lista-a">Register</a></li>
                <li class="footer-lista-li"><a href="/products/cart" class="footer-lista-a">Carrito</a></li>
            </ul>
        </section>
<!-------- Sección Seguinos-------->
        <section class = "footer-note">
            <!-- <i class="fas fa-user-shield"></i>
            <div class="footer-note-text">
                <h3 class ="titular-footer">Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo!, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div> -->
            <h3 class="footer-titulo">SEGUINOS</h3>
            <ul class="footer-lista">
                <li class="footer-lista-li"><a href="https://es-la.facebook.com/" class="footer-lista-a" target="_blank">Facebook</a></li>
                <li class="footer-lista-li"><a href="https://twitter.com/?lang=es" class="footer-lista-a" target="_blank">Twitter</a></li>
                <li class="footer-lista-li"><a href="https://www.instagram.com/?hl=es" class="footer-lista-a" target="_blank">Instagram</a></li>
                <li class="footer-lista-li"><a href="https://discord.com/" class="footer-lista-a" target="_blank">Discord</a></li>
            </ul>
        </section>
    </div>

    <section class = "copyright">
        <p>Copyright © 2021 Grupo 7 DH</p>
    </section>

</footer>  