<footer>
    <div class="promociones-footer">
        <section class = "footer-note">
            <i class="fas fa-credit-card"></i>
            <div class="footer-note-text">
                <h3 class ="titular-footer">Pagá con tarjeta o en efectivo</h3>
                <p>En todos los productos, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>
        <section class = "footer-note">
            <i class="fas fa-gift"></i>
            <div class="footer-note-text">
                <h3 class ="titular-footer">Envío gratis desde $ 25.000</h3>
                <p>Con compras mayores al monto indicado, no te tenés que preocupar por nada. Nosotros nos hacemos cargo del envío a tu domicilio</p>
            </div>
        </section>
        <section class = "footer-note">
            <i class="fas fa-user-shield"></i>
            <div class="footer-note-text">
                <h3 class ="titular-footer">Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo!, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </section>
    </div>
    <section class = "copyright">
        <p>Copyright © 2021 Grupo 7 DH</p>
    </section>
        
</footer>  