<header>
    <div class="barra-superior">
        <div class = "logo-busqueda">
            <div class="logo">
                <a href="/"><img src="/img/logo2.png" alt="logo"></a>
            </div>
            <div class="busqueda">
                <form action="/" method="GET" class="busqueda-form">
                    <input type="text" placeholder="Buscar productos..." name="search" class="barra-busqueda">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <a href="/product/productCart" class="link-cart"><i class="fas fa-shopping-cart"></i></a>
        <div class="login-register">
            <div class="botones-login-register">
                <a href="/user/login" class="login-options">login</a>
                <a href="/user/register" class="login-options">register</a>
            </div>
        </div>
        <a href="/" class="link-user"><i class="fas fa-user"></i></a>
    </div>
</header>