<header>
    <div class="barra-superior">
        <div class = "logo-busqueda">
            <div class="logo">
                <img src="/img/techIconLogo.jpg" alt="logo">
            </div>
            <div class="busqueda">
                <form action="/" method="GET">
                    <input type="text" placeholder="Buscar productos..." name="search">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
        <nav class="login-register">
            <a href="/" class="link-logo"><i class="fas fa-user"></i></a>
            <a href="/user/login" class="login-options">login</a>
            <a href="/user/register" class="login-options">register</a>
            <a href="/product/productCart" class="link-logo"><i class="fas fa-shopping-cart"></i></a>
        </nav>
    </div>
    <nav class="barra-inferior">
        <a href="/" class="links">Home</a>
        <a href="/product/productDetail" class="links">Detail</a>
        <a href="/" class="links">Vender</a>
        <a href="/product/productDetail" class="links">Placeholder2</a>
    </nav>
</header>