<%- include('../partials/head', {title: 'Login'}) %>  
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Inicio de Sesion</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login-register-user"> 
            <div class="detail-cuenta">
                <h3 class="titulo-cuenta">
                    Ya soy cliente
                </h3> 
                    <div class="info-usuario"> 
                        <form action="/" method= "get">
                            <input class="datos" type="email" name= "email" placeholder="Ingrese su E-mail"> <br>
                            <input class="datos" type="password" name= "pass" placeholder="Ingrese su Contraseña"><br>
                            <div class="caja-checkbox">
                                <span>Recordar contraseña</span>
                                <input type= "checkbox" name="Recordar contraseña" value="Recordar Contraseña">
                                <br> <br>
                            </div>
                            <div class="button-user">
                                <input class="boton" type="submit" value= "Ingresar"> 
                            </div>
                            <div class="opcioncontra"><a href="">¿Olvidaste tu contraseña?</a>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>  
</body>
</html>