<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Registrarse</title>
</head>
<body>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="register"> 
                <div class="detail-register">
                    <h3 class="titulo-register">
                        Crear Cuenta
                    </h3>
                    <div class="info-register">
                        <form action="/" method="get">
                            <input type="text" name= "Nombre y apellido" placeholder="Nombre y Apellido"> <br>
                            <input type="email" name= "email" placeholder="E-mail"> <br>
                            <input type="email" name= "email" placeholder="Confirmar E-mail"><br>
                            <input type="password" name= "password" placeholder="Contraseña"><br>
                            <input type="file">
                            <div class="buttom-register"> <br>
                                <input type="submit" value= "Registrar">
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
        
    
        

</body>
</html>