<%- include('../partials/head', {title: 'Login'}) %>  
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Inicio de Sesion</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login-register-user"> 
            <div class="success-container">
                    <div class="info-usuario"> 
                        <h3 class="success-title">Usuario Registrado satisfactoriamente</h3>
                        <i class="far fa-check-circle"></i>
                    </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>  
</body>
</html>