<%- include('../partials/head', {title: 'Profile'}) %>
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Perfil de usuario</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        
    </main>
    <%- include('../partials/footer') %>
</body>
</html>